#first,#second{
    width: 40%;
    background-color: orange;
}
.main2{
    background-color: black;
    background-origin: border-box;
    text-align: center;
    width:100%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

@media (min-width:461px) and (max-width:780px){
    #first,#second{
        width: 100%;
        margin: 1% 0%;
    }  
}  
    