.main{
    background-color:white;
    width: 100;
    /* how to display our content on the screen!! */
    justify-content:space-around; 

    
    display: flex;
    flex-wrap: wrap;
    

}
/* this is id so we represntesd with the symbol  #*/
#side1,#side2,#side3{
    text-align: center;
    background-color:lightcoral;
    width: 40%;
    margin-bottom: 5%;
    border-radius: 20% 1%;

    
}
#side2{
    text-align: center;
    background-color:grey;

}
#side3{
    text-align: center;
    background-color:mediumturquoise;
}
img{
    border-radius: 150%;
}